<div class="modal-header">
    <h5 class="muted">Enter values:</h5>
</div>
<div class="modal-body">
    <span>Doctor name:</span>
    <p><input id="doctor_name" type="text" size="15" value="<%= name %>"></p>
    <span>Specialization</span>
    <select id="select_list" name="doctor_spec">
    </select>

    	<h6 class="muted">choose duration</h6>
    <p>
	    <input name="dur" type="radio" <%= (duration == 15) ? "checked='checked'" : "" %> value="15"> 15
	    <input name="dur" type="radio" <%= (duration == 30) ? "checked='checked'" : "" %> value="30"> 30
	    <input name="dur" type="radio" <%= (duration == 45) ? "checked='checked'" : "" %> value="45"> 45
	    <input name="dur" type="radio" <%= (duration == 60) ? "checked='checked'" : "" %> value="60"> 60
    </p>
    <% if (specialization_id === null) {  %>
    <div id="doc_user_values">
        <h6 class="muted">User values:</h6>
        <span>E-mail:</span>
        <p><input id="user_email" type="text" size="15" placeholder="E-mail"></p>

        <span>Password:</span>
        <p><input id="user_password" type="password" size="15" placeholder="password"></p>
    </div>
    <% } %>

</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>