<div class="muted">
	From <strong><%= start %></strong>
</div>
<div class="muted">
	to <strong><%= end %></strong>
</div>
<ul>
	<li><em>Sun: </em><%= schedule["sun"]["start"] %> - <%= schedule["sun"]["end"] %></li>
	<li><em>Mon: </em><%= schedule["mon"]["start"] %> - <%= schedule["mon"]["end"] %></li>
	<li><em>Tue: </em><%= schedule["tue"]["start"] %> - <%= schedule["tue"]["end"] %></li>
	<li><em>Wed: </em><%= schedule["wed"]["start"] %> - <%= schedule["wed"]["end"] %></li>
	<li><em>Thu: </em><%= schedule["thu"]["start"] %> - <%= schedule["thu"]["end"] %></li>
	<li><em>Fri: </em><%= schedule["fri"]["start"] %> - <%= schedule["fri"]["end"] %></li>
	<li><em>Sat: </em><%= schedule["sat"]["start"] %> - <%= schedule["sat"]["end"] %></li>
</ul>

<div class="admin_actions hidden">
	<img class="admin_item_edit" src="/images/edit.png">
	<img class="admin_item_delete" src="/images/remove.png">
</div>