<img class="admin_item_delete hidden" src="/images/remove.png">
<ul>
	<li><strong>Sun: </strong><%= schedule["sun"]["start"] %> - <%= schedule["sun"]["end"] %></li>
	<li><strong>Mon: </strong><%= schedule["mon"]["start"] %> - <%= schedule["mon"]["end"] %></li>
	<li><strong>Tue: </strong><%= schedule["tue"]["start"] %> - <%= schedule["tue"]["end"] %></li>
	<li><strong>Wed: </strong><%= schedule["wed"]["start"] %> - <%= schedule["wed"]["end"] %></li>
	<li><strong>Thu: </strong><%= schedule["thu"]["start"] %> - <%= schedule["thu"]["end"] %></li>
	<li><strong>Fri: </strong><%= schedule["fri"]["start"] %> - <%= schedule["fri"]["end"] %></li>
	<li><strong>Sat: </strong><%= schedule["sat"]["start"] %> - <%= schedule["sat"]["end"] %></li>
</ul>
