<div class="modal-header">
    <h5 class="muted">Enter values:</h5>
</div>
<div class="modal-body">

<table>
	<tr>
		<td class="muted">
			Doctor: 
		</td>
		<td>
			<select id="select_list" />
		</td>
	</tr>
	<tr>
		<td class="muted">
			User: 
		</td>
		<td>
			<select id="user_select_list" />
		</td>
	</tr>
	<tr>
		<td class="muted">
			Date: 
		</td>
		<td>
			<input type="text" id="ticket_day" value="<%= data.slice(0, 2) %>"> - 
			<input type="text" id="ticket_month" value="<%= data.slice(3, 5) %>"> - 
			<input type="text" id="ticket_year" value="<%= data.slice(6) %>">
		</td>
	</tr>
		<td class="muted">
			Time: 
		</td>
		<td>
			<input type="text" id="ticket_hours" value="<%= time.slice(0, 2) %>"> :
			<input type="text" id="ticket_minutes" value="<%= time.slice(3) %>">
		</td>
	<tr>
		<td class="muted">
			Status:
		</td>
		<td>
			<input type="radio" name="ticket_status" <%= (status === "default") ? "checked='checked'" : "" %> value="default">Default
			<input type="radio" name="ticket_status" <%= (status === "canceled") ? "checked='checked'" : "" %>value="canceled">Canceled
			<input type="radio" name="ticket_status" <%= (status === "missed") ? "checked='checked'" : "" %>value="missed">Missed
		</td>
	</tr>
</table>

</div>
<div class="modal-footer"> 
    <button class="btn btn-success">Go!</button>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
</div>