<h1>Listing specializations</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specializations.each do |specialization| %>
  <tr>
    <td><%= specialization.name %></td>
    <td><%= link_to 'Show', specialization %></td>
    <td><%= link_to 'Edit', edit_specialization_path(specialization) %></td>
    <td><%= link_to 'Destroy', specialization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Specialization', new_specialization_path %>
