<h1>Listing weekly_schedules</h1>

<table>
  <tr>
    <th>Doctor</th>
    <th>Schedule</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weekly_schedules.each do |weekly_schedule| %>
  <tr>
    <td><%= weekly_schedule.doctor_id %></td>
    <td><%= weekly_schedule.schedule %></td>
    <td><%= link_to 'Show', weekly_schedule %></td>
    <td><%= link_to 'Edit', edit_weekly_schedule_path(weekly_schedule) %></td>
    <td><%= link_to 'Destroy', weekly_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weekly schedule', new_weekly_schedule_path %>
