<td class="schedule-name text-info" id="doc<%= doctor_id %>-name">
    <%= doctor_name %>    
</td>

<%for(day in schedule) {%>
    <td class="schedule-item" id="doc<%= doctor_id %>-<%= day %>">      
        <%= schedule[day]['start'] %> - <%= schedule[day]['end'] %>
    </td>
            
<%}%>