    <td><%= day %>, <%= date %>-<%= month %>-<%= year %></td>

    <%for(var i=0;i<9;i++) {%>
       
       <td class = "time_row"> 
	     <span id = "user<%=user_id%>_<%=year%>_<%=month%>_<%=date%>_t<%=8+i%>00"> </span>
		 <span id = "user<%=user_id%>_<%=year%>_<%=month%>_<%=date%>_t<%=8+i%>15"> </span>
		 <span id = "user<%=user_id%>_<%=year%>_<%=month%>_<%=date%>_t<%=8+i%>30"> </span>
		 <span id = "user<%=user_id%>_<%=year%>_<%=month%>_<%=date%>_t<%=8+i%>45"> </span>
	   </td>

    <%}%>